* {
  margin: 0;
  padding: 0;
}

/* Focus States for Accessibility */
button.add-book-button:focus,
.add-book-form > form > button[type="submit"]:focus,
.add-book-form > form > .close-modal-button:focus,
.add-book-form > form > input:focus,
.add-book-form > form > select:focus {
  outline: 2px solid #ffffff; /* Add a visible outline */
}

body {
  color: #ffff;
  background-image: url("images/reading_room.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
}

div.books-container {
  padding: 10px;
  overflow-y: auto;
  grid-row: 2/3;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  grid-template-rows: repeat(auto-fit, 110px);
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-gap: 20px;
}

div.book-card {
  justify-items: center;
  align-items: center;
  width: 140px;
  height: 100px;
  background-color: rgba(197, 144, 51, 0.512);
  border-radius: 5px;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

div.library-title {
  justify-self: center;
  align-self: center;
  color: white;
  border-radius: 5px;
  background-color: rgba(242, 242, 242, 0.447);
  height: fit-content;
  width: calc(100% - 50px);
  grid-row: 1/2;
  grid-column: 1/2;
  font-size: 40px;
  font-weight: 300;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

button.add-book-button {
  grid-row: 3/4;
  grid-column: 1/2;
}

.add-book-button {
  justify-self: center;
  align-self: center;
  margin-top: 5px;
  width: 150px;
  height: 50px;
  background-color: #ff4040;
  color: white;
  font-weight: 300;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-book-button:hover {
  background-color: #ff0000;
}

.add-book-form {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 50px;
}

.add-book-form > form {
  background-image: url("images/ai_book_topdown_view.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: grid;
  border-radius: 5px;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: fit-content;
}

.add-book-form > form > label {
  padding-left: 20px;
  color: rgb(255, 255, 255);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  font-size: 1.3em;
  font-style: normal;
  -webkit-text-stroke: 0.2px rgb(0, 0, 0);
}

.add-book-form > form > button[type="submit"] {
  justify-self: center;
  width: 100px;
  height: 25px;
  background-color: #b36e23;
  color: white;
  font-weight: 300;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-book-form > form > button[type="submit"]:hover {
  background-color: #ffc06d;
}

.add-book-form > form > input,
.add-book-form > form > select {
  width: 100%;
  height: fit-content;
  background-color: #ffffff64;
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.add-book-form > form > .close-modal-button {
  justify-self: end;
  width: 25px;
  height: 25px;
  background-color: #ff5151;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-book-form > form > .close-modal-button:hover {
  background-color: #ff0000;
}

